<md-tab-group>
  <md-tab>
    <template md-tab-label>Log in</template>
    <template md-tab-content>
      <div class="tab-content">
        <app-login></app-login>
      </div>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Sign up</template>
    <template md-tab-content>
      <div class="tab-content">
        <app-signup></app-signup>
      </div>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Forgotten Password</template>
    <template md-tab-content>
      <div class="tab-content">
        <h3>Tough</h3>
      </div>
    </template>
  </md-tab>
</md-tab-group>
