<div class="dialog-content">
  <md-tab-group>
    <md-tab label="General">
      <div class="tab-content">
        <md-slide-toggle>General Setting 1</md-slide-toggle>
        <md-slide-toggle>General Setting 2</md-slide-toggle>
        <md-slide-toggle>General Setting 3</md-slide-toggle>
      </div>
    </md-tab>
    <md-tab label="Encryption">
      <div class="tab-content">
        Settings 2
      </div>
    </md-tab>
    <md-tab label="Advanced">
      <div class="tab-content">
        Settings 3
      </div>
    </md-tab>
  </md-tab-group>
</div>
<div class="dialog-footer">
  <button md-button>
    <md-icon>clear</md-icon>
  </button>
  <button md-button>
    <md-icon>done</md-icon>
  </button>
</div>
