<div class="dialog-content">
  <md-tab-group>
    <md-tab label="General">
      <div class="tab-content">
        <md-slide-toggle>General Setting 1</md-slide-toggle>
        <md-slide-toggle>General Setting 2</md-slide-toggle>
        <md-slide-toggle>General Setting 3</md-slide-toggle>
      </div>
    </md-tab>
    <md-tab label="Encryption">
      <div class="tab-content">
        <md-card>
          <md-card-title>Client Keys</md-card-title>
          <md-card-content>
            <p class="keyTitle">Private Key</p>
            <div class="key">{{(settings | async).keys.client.privateKey}}</div>
            <p class="keyTitle">Public Key</p>
            <div class="key">{{(settings | async).keys.client.publicKey}}</div>
          </md-card-content>
          <md-card-footer>
            <div class="md-footer-buttons" layout="row">
              <div flex="50" class="left">
                <label for="keySize">Key Size</label>
                <select id="keySize" [(ngModel)]="keySize">
                  <option value="1024">1024</option>
                  <option value="2048">2048</option>
                  <option value="4096">4096</option>
                </select>
                <div class="sizeWarning" *ngIf="keySize==4096">Keys of this size may take up to a minute to generate</div>
              </div>
              <div flex="50" class="right">
                <button md-raised-button color="secondary" (click)="generateKeys()" [disabled]="fetchingKey || generatingKeys">
                  <span *ngIf="!generatingKeys">Generate Keys</span>
                  <span *ngIf="generatingKeys">Please Wait</span>
                </button>
              </div>
            </div>
          </md-card-footer>
        </md-card>
        <md-card>
          <md-card-title>Server Keys</md-card-title>
          <md-card-content>
            <p class="keyTitle">Public Key</p>
            <div class="key">{{(settings | async).keys.server.publicKey | rsakey}}</div>
          </md-card-content>
          <md-card-footer>
            <div class="md-footer-buttons" layout="row">
              <div flex="50" class="left"></div>
              <div flex="50" class="right">
                <button md-raised-button color="secondary" (click)="reloadKey()" [disabled]="fetchingKey || generatingKeys">
                  <span *ngIf="!fetchingKey">Reload Key</span>
                  <span *ngIf="fetchingKey">Please Wait</span>
                </button>
              </div>
            </div>
          </md-card-footer>
        </md-card>
      </div>
    </md-tab>
    <md-tab label="Advanced">
      <div class="tab-content">
        Settings 3
      </div>
    </md-tab>
  </md-tab-group>
</div>
<div class="dialog-footer">
  <button md-raised-button color="primary" [disabled]="fetchingKey || generatingKeys">
    <md-icon>done</md-icon>
  </button>
</div>
